{% extends "base.html" %}

{% block app_content %}
<a href="{{ url_for('index') }}" class="btn btn-warning home">На главную</a>
<a href="{{ url_for('live') }}" class="btn btn-info refresh">Создать новую жизнь</a>

<div class="counter">{{ current_game.counter }}</div>

<table class="world">
    {% for i in range(current_game.world|length) %}
    <tr>
        {% for j in range(current_game.world[i]|length) %}
        {% if current_game.world[i][j] == 1 %}
        <td class="cell living-cell"></td>
        {% elif current_game.old_world[i][j] == 1 and current_game.world[i][j] == 0 %}
        <td class="cell dead-cell"></td>
        {% else %}
        <td class="cell"></td>
        {% endif %}
        {% endfor %}
    </tr>
    {% endfor %}
</table>
{% endblock %}

{% block scripts %}
{{ super() }}
<script>
    setInterval(() => window.location.reload(), 1000)
</script>
{% endblock %}